/*body {*/
/*    background-color: black;*/
/*    border: solid rgb(47, 51, 54);*/
/*    border-bottom: none;*/
/*}*/

.wd-padding-left {
    padding-left: 16px;
}

.wd-top-nav {
    height: 36px;
    width: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.wd-search-container {
    height: 36px;
    width: 80%;
}

.wd-search-container input[type="text"] {
    width: 100%;
    height: 36px;
    background: white;
    color: gray;
    border-radius: 15px;
    border: solid 1px black;
    font-size: 15px;
    padding-left: 40px;
    align-items: center;
}

.wd-search-container .wd-search-icon {
    width: 15px;
    height: 15px;
    position: relative;
    left: 15px;
    top: -30px;
}

.wd-href-no-decoration-gear:hover {
    cursor: pointer;
}

.wd-href-no-decoration-gear {
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: rgb(29, 161, 242);
    font-size: 30px;
    transform: scale(1, 1);
    padding-right: 12px;
    padding-left: 40px;
}

.wd-margin-right-setting {
    margin-right: 12px;
}

.wd-container-tabs {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(47, 51, 54);
}

.wd-container-tabs .wd-tab {
    color: rgb(110, 118, 125);
    font-weight: bold;
    padding: 16px;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    overflow: auto;
}

.wd-container-tabs .wd-tab.active {
    color: rgb(29, 161, 242);
    border-bottom: 4px solid rgb(29, 161, 242);
}

.wd-container-tabs .wd-tab:hover {
    cursor: pointer;
}

.wd-margin-right-post-c {
    margin-right: 16px;
}

.wd-container-post-c {
    border-bottom: 1px solid rgb(47, 51, 54);
    padding-top: 10px;
    padding-bottom: 10px;
}

.wd-container-post-c .wd-treading {
    display: flex;
    justify-content: space-between;
}

.wd-container-post-de {
    border: 1px solid lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wd-container-post-de .wd-container-de-content {

}

.wd-container-post-info-organization {
    display: flex;
}

.wd-container-post-info-organization .wd-org-img {
    width: 13px;
    height: 13px;
}

.wd-container-post-org-title {
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding-right: 5px;
}


.wd-break-point {
    padding-left: 4px;
    padding-right: 4px;
    color: rgb(110, 118, 125);
}

.wd-post-de-img {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    margin-right: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
}

.wd-container-posts-space-no-border {
    display: flex;
    justify-content: space-between;
}


.wd-container-post-info {
    font-size: 13px;
    color: rgb(110, 118, 125);
}

.wd-container-post-topic {
    font-size: 13px;
    color: lightgray;
}

.wd-container-post-content {
    font-size: 15px;
    font-weight: bold;
    color: white;
    /*padding-top: 5px;*/
    /*padding-bottom: 5px;*/
}


.wd-href-no-decoration {
    overflow: hidden;
    text-decoration: none;
    color: rgb(110, 118, 125);
    font-size: 15px;
    transform: scale(1, 1);
}

/*format from bookmarks*/
.wd-user-avatar {
    width: 48px;
    height: 48px;
    border-radius: 24px;
}
.wd-post {
}
.wd-container-post {
    display: flex;
}
.wd-author {
    font-size: 15px;
    font-weight: bold;
    color: white;
}
.wd-username {
    font-size: 15px;
    color: lightgray;
}

